<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body><app-latoolbar></app-latoolbar>
    
    <div class="container">
      <br>
      <h2 style="text-align: center;">Resultados de la búsqueda</h2>


      
      <input type="text" [(ngModel)]="searchText" (input)="filter()" placeholder="Buscar">

      <br><br><br>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="titular">
          <th mat-header-cell *matHeaderCellDef style="color: white;">Titular</th>
          <td mat-cell *matCellDef="let element" [routerLink]="['/publicacion', element.idPublication]">{{ element.headline }}</td>
        </ng-container>
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef style="color: white;">Fecha</th>
          <td mat-cell *matCellDef="let element">{{ element.datePublication }}</td>
        </ng-container>
        <ng-container matColumnDef="bajada">
          <th mat-header-cell *matHeaderCellDef style="color: white;">Bajada</th>
          <td mat-cell *matCellDef="let element">{{ element.lead }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      </table>
      <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
    </div>
  </body>
</html>

