<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body><div style="position:fixed; width: 100%; top: 0%; z-index: 2"><app-latoolbar></app-latoolbar></div>
    
    <div id="datosPersonales" style="width: 60%; margin-left: 50px;line-height: 20px; margin-top:40px">
        <h1 style="font-size: 30px;">{{nombre}} {{apellidoPaterno}} {{apellidoMaterno}}</h1>
        <br>
        <h3>Correo electrónico:</h3>
        <h2>{{email}}</h2>
        <h3>Perfil LinkedIn:</h3>
        <h2>/{{perfilLinkedIn}}</h2>
        <h3>Fecha registro:</h3>
        <h2>{{fechaRegistro}}</h2>
        <h3>Universidad:</h3>
        <h2>{{universidad}}</h2>

    </div>


    <div id="infoAdicional" style="margin:60px">

        
        <table mat-table [dataSource]="dataSourcePub" class="mat-elevation-z8">
            <ng-container matColumnDef="titular">
                <th mat-header-cell *matHeaderCellDef><h3>Publicaciones</h3></th>
                <td mat-cell *matCellDef="let element" [routerLink]="['/publicacion', element.idPublication]">{{
                    element.headline }}</td>
            </ng-container>
            <ng-container matColumnDef="fecha1">
                <th mat-header-cell *matHeaderCellDef style="color: white;">Fecha</th>
                <td mat-cell *matCellDef="let element">{{ element.datePublication }}</td>
            </ng-container>
            <ng-container matColumnDef="bajada">
                <th mat-header-cell *matHeaderCellDef style="color: white;"></th>
                <td mat-cell *matCellDef="let element">{{ element.lead }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
        </table>

        <br>
        <br>

 
        
           
        <table mat-table [dataSource]="dataSourceAck" class="mat-elevation-z8">

            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef><h3>Reconocimientos</h3></th>
                <td mat-cell *matCellDef="let element">{{ element.description }}</td>
            </ng-container>

            <ng-container matColumnDef="fecha2">
                <th mat-header-cell *matHeaderCellDef style="color: white;"></th>
                <td mat-cell *matCellDef="let element">{{ element.dateAcknowledgment }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
        </table>




        <br>
        <br>
        

        <table mat-table [dataSource]="dataSourceExt" class="mat-elevation-z8">

            <ng-container matColumnDef="titularExt">
                <th mat-header-cell *matHeaderCellDef><h3>Publicaciones externas</h3></th>
                <td mat-cell *matCellDef="let element">{{ element.headline }}</td>
            </ng-container>

            <ng-container matColumnDef="enlace">
                <th mat-header-cell *matHeaderCellDef style="color: white;"></th>
                <td mat-cell *matCellDef="let element"><a href="{{ element.link }}" style="color: brown;">{{ element.link }}</a></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>
        </table>
   

    </div>
</body>

</html>