<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

</head>

<body
    style="background-color: white; padding-bottom: 200px;">
    <div id="solorelleno" style="height: 40px;"></div>

    <div class="container"
        style="background-color: #8A0101; width:700px; border-radius: 20px; padding-bottom: 50px; padding-top: 3%; box-shadow: 10px 10px 20px black;">
        <div id="alineadosAlCentro" style="text-align: center">
            <h2 style="font-family:'Georgia'; font-size: 25px; color:white;">REGISTRO</h2>

            <form [formGroup]="form" (click)="registrar()" class="example-form">

                <br>
                <mat-form-field class="example-full-width" style="width: 80%;  height: 70px;">
                    <mat-label>Nombres</mat-label>
                    <input matInput placeholder="Nombres" formControlName="nombres" />
                    <mat-error *ngIf="obtenerControlCampo('nombres')?.errors?.['required']">
                        El nombre es obligatorio.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" style="width: 80%;  height: 70px;">
                    <mat-label>Apellido paterno</mat-label>
                    <input matInput placeholder="Apellido paterno" formControlName="apellidoPaterno" />
                    <mat-error *ngIf="obtenerControlCampo('apellidoPaterno')?.errors?.['required']">
                        El apellido paterno es obligatorio.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" style="width: 80%;  height: 70px;">
                    <mat-label>Apellido materno</mat-label>
                    <input matInput placeholder="Apellido materno" formControlName="apellidoMaterno" />
                </mat-form-field>

                <!--datepicker-->
                <mat-form-field appearance="fill" class="example-full-width">
                    <input
                      matInput
                      placeholder="Ingrese fecha de nacimiento"
                      [matDatepicker]="picker"
                      formControlName="nacimiento"
                      [max]="maxFecha"
                    />
                    <mat-hint style="color:white">MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker ></mat-datepicker>
                    <mat-error
                      *ngIf="obtenerControlCampo('nacimiento')?.errors?.['required']"
                    >
                      La fecha es obligatorio.
                    </mat-error>
                  </mat-form-field>

                <mat-form-field class="example-full-width" style="width: 80%;  height: 70px;">
                    <mat-label>Correo electronico</mat-label>
                    <input matInput placeholder="Email" formControlName="correo" />
                    <mat-error *ngIf="obtenerControlCampo('correo')?.errors?.['required']">
                        El correo electronico es obligatorio.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" style="width: 80%;  height: 70px;">
                    <mat-label>Contraseña</mat-label>
                    <input matInput placeholder="Contraseña" formControlName="contrasenia" />
                    <mat-error *ngIf="obtenerControlCampo('contrasenia')?.errors?.['required']">
                        La contraseña es obligatorio.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" style="width: 80%;  height: 70px;">
                    <mat-label>Confirmar contraseña</mat-label>
                    <input matInput placeholder="Confirmar contraseña" formControlName="contraseniaConf" />
                    <mat-error *ngIf="obtenerControlCampo('contraseniaConf')?.errors?.['required']">
                        Debes confirmar la contraseña.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" style="width: 80%;  height: 70px;">
                    <mat-label>Perfil de linkedin</mat-label>
                    <input matInput placeholder="Perfil de LinkedIn" formControlName="linkedin" />
                </mat-form-field>

                <!--usar selector-->
                <mat-form-field>
                    <mat-label>Universidad</mat-label>
                    <mat-select formControlName="universidad">
                      <mat-option *ngFor="let uni of listaUniversidades" [value]="uni.value">
                        {{uni.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error
                    *ngIf="obtenerControlCampo('universidad')?.errors?.['required']"
                  >
                    La universidad es obligatoria.
                  </mat-error>
                  </mat-form-field>



                <br>
                <br>
                <p></p>
                <button mat-raised-button color="warn" routerLink="login" style="background-color: white; color:#8A0101;">Registrarse</button>
   
                <br>
                <br>
                <p style="color:white">{{ mensaje }}</p>
            </form>
        </div>

    </div>




</body>


</html>