<!-- PASO 10: aca atencion porque hay varias cosas, copia la estructura-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body><div style="position:fixed; width: 100%; top: 0%; z-index: 2"><app-latoolbar></app-latoolbar></div>
  <div class="container" style="margin-top:40px">
    <br>

    <!-- aqui cambia el titulo por el que corresponda a tu caso-->
    <h2 style="text-align: center;">Configuracion</h2>


    <form [formGroup]="form" class="example-form">


      <mat-form-field class="example-full-width">
        <mat-label>Idioma</mat-label>
        <input matInput placeholder="Idioma" formControlName="language" />
        <mat-error *ngIf="obtenerControlCampo('language')?.errors?.['required']">
          El idioma es obligatorio.
        </mat-error>
      </mat-form-field>

      <br>

      <mat-form-field class="example-full-width">
        <mat-label>Estado de las notificaciones</mat-label>

        <input matInput placeholder="Notificaciones" formControlName="notifications" />
        <mat-error *ngIf="obtenerControlCampo('notifications')?.errors?.['required']">
          El estado de las notificaciones es obligatorio.
        </mat-error>
      </mat-form-field>


      <br>
      <button mat-raised-button color="warn" style="margin-right: 20px;">Guardar</button>

      <br>
      <p>{{ mensaje }}</p>
    </form>



  </div>
</body>

<!-- PASO 11: ahora vamos al html principal, el app.component.html -->

</html>