<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <style>
    body {
      font-family: Georgia;
    }

    h3 {
      font-family: Georgia;
    }



    .carousel-image-container {
    width: 100%;
    height: 400px; /* Ajusta esto al tamaño que prefieras */
  }

  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  </style>

</head>

<body>
  <div id="todo" *ngIf="verificar()">
    <div style="position:fixed; width: 100%; top: 0%; z-index: 2"><app-latoolbar [logued]="logued"></app-latoolbar>
    </div>
    <div id="inicial" style="margin-top:40px">

      <c-carousel [interval]="2000">
        <c-carousel-inner>
          <c-carousel-item *ngFor="let slide of slides">
            <div class="carousel-image-container">
              <img [src]="slide.src" alt="{{slide.title}}" class="carousel-image" loading="lazy" />
            </div>
          </c-carousel-item>
        </c-carousel-inner>
        <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
        <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
      </c-carousel>

    </div>

    <br>
    <h1 style="font-family: Georgia; text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;Artículos recientes</h1>

    <div id="noticiasDestacadas" style="display: flex; justify-content: space-between; margin: 20px; box-sizing: border-box; width: calc(100% - 40px);">

      <mat-card 
        style="width: calc((100% - 40px) / 3); background-color: #8A0101; color:white; box-shadow: 1px 1px 10px black;"
        [routerLink]="['/publicacion', pub1.idPublication]">
        <mat-card-content>
          <h3 style="text-align: center;">{{pub1.headline}}</h3>
          <p style="color:rgb(167, 167, 167); text-align: right">{{pub1.datePublication}}</p>
        </mat-card-content>
      </mat-card>
    
      <mat-card
        style="width: calc((100% - 40px) / 3); background-color: #8A0101; color:white; box-shadow: 1px 1px 10px black;"
        [routerLink]="['/publicacion', pub2.idPublication]">
        <mat-card-content>
          <h3 style="text-align: center;">{{pub2.headline}}</h3>
          <p style="color:rgb(167, 167, 167); text-align: right">{{pub2.datePublication}}</p>
        </mat-card-content>
      </mat-card>
    
      <mat-card
        style="width: calc((100% - 40px) / 3); background-color: #8A0101; color:white; box-shadow: 4px 4px 10px black;"
        [routerLink]="['/publicacion', pub3.idPublication]">
        <mat-card-content>
          <h3 style="text-align: center;">{{pub3.headline}}</h3>
          <p style="color:rgb(167, 167, 167); text-align: right">{{pub3.datePublication}}</p>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</body>

</html>