
<mat-toolbar style="background-color: #8A0101; color:white">
   <img src="../assets/imagotipo horizontal blanco.png" href="app.component.html" style="height: 50px;" />

   <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
   <button mat-button routerLink="/inicio">INICIO</button>
   <p>&nbsp;&nbsp;</p>
   <button mat-button routerLink="/registrarPublicacion">REGISTRAR PUBLICACION</button>
   <p>&nbsp;&nbsp;</p>
   <button mat-button routerLink="/configuracion">CONFIGURACIÓN</button>
   <p>&nbsp;&nbsp;</p>
   <button mat-button routerLink="/login">CERRAR SESIÓN</button>
   
   <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>

   <div id= "buscar" style="position: absolute; right: 20px;">
   <input type="text" [(ngModel)]="palabra" placeholder="Buscar">
   <button mat-raised-button color="warn" [routerLink]="['/buscar', palabra]" style="width: 10px; height: 50px; background-color: #8A0101; border-radius: 30px;">
      <img src="https://i.ibb.co/rv5fd6z/buscarbtn.png" width="40px">
      </button>
   </div>
</mat-toolbar>


