
<mat-toolbar *ngIf="verificar()" style="background-color: #8A0101; color:white; box-shadow: 1px 1px 10px black;">
   <img src="../assets/imagotipo horizontal blanco.png" href="app.component.html" style="height: 50px;" />

   <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
   <button mat-button (click)="irInicio()">INICIO</button>
   <p>&nbsp;&nbsp;</p>
   <button mat-button (click)="irRegistroPublicacion()" *ngIf="role == 'REDACTOR'">REGISTRAR PUBLICACION</button>
   <p>&nbsp;&nbsp;</p>
   <button mat-button (click)="irConfig()">CONFIGURACIÓN</button>
   <p>&nbsp;&nbsp;</p>
   <button mat-button (click)="irAdmin()" *ngIf="role == 'ADMIN'">ADMINISTRACION</button>
   <p>&nbsp;&nbsp;</p>

   <button  mat-button routerLink="/login" (click)="cerrar()">CERRAR SESIÓN</button>
   <p style="font-size: 12px; margin-left: 70px; margin-top: 12px;">Bienvenido {{role}}!</p>

   
   <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>

   <div id= "buscar" style="position: absolute; right: 20px;">
   <input type="text" [(ngModel)]="palabra" placeholder="Buscar">
   <button mat-raised-button color="warn" [routerLink]="['/buscar', palabra]" style="width: 10px; height: 50px; background-color: #8A0101; border-radius: 30px;">
      <img src="https://i.ibb.co/rv5fd6z/buscarbtn.png" width="40px">
      </button>


   </div>
</mat-toolbar>


