<router-outlet></router-outlet>
<div [hidden]="route.children.length!==0">
  <app-administracion-ver-reportes></app-administracion-ver-reportes>
</div>


<router-outlet></router-outlet>
<div [hidden]="route.children.length!==0">
  <app-administracion-listar-universidades></app-administracion-listar-universidades>
</div>


<router-outlet></router-outlet>
<div [hidden]="route.children.length!==0">
  <app-administracion-listar-publicacionexterna></app-administracion-listar-publicacionexterna>
</div>

<router-outlet></router-outlet>
<div [hidden]="route.children.length!==0">
  <app-administracion-listar-configuracion></app-administracion-listar-configuracion>
</div>

<router-outlet></router-outlet>
<div [hidden]="route.children.length!==0">
  <app-administracion-listar-categoria></app-administracion-listar-categoria>
</div>

<router-outlet></router-outlet>
<div [hidden]="route.children.length!==0">
  <app-administracion-listar-reconocimiento></app-administracion-listar-reconocimiento>
</div>

<router-outlet></router-outlet>
<div [hidden]="route.children.length!==0">
  <app-administracion-listar-dispositivo-conectado></app-administracion-listar-dispositivo-conectado>
</div>

<router-outlet></router-outlet>
<div [hidden]="route.children.length!==0">
  <app-administracion-listar-interacciones></app-administracion-listar-interacciones>
</div>

<router-outlet></router-outlet>
<div [hidden]="route.children.length!==0">
  <app-administracion-listar-logic-rol></app-administracion-listar-logic-rol>
</div>
